@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #d3ece1;
  --white: #ffffff;
  --green: #c2eec7;
  --orange: #f6dbdb;
  --purple: #eed2e8;
}

.bg-green {
  background-color: var(--green);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-orange {
  background-color: var(--orange);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: darkslategrey;
    background: whitesmoke;
  }
}

.waterBlock {
  background-color: whitesmoke;
  @apply absolute h-[300px] w-[100px] bottom-[10px] -z-10;
}

.water {
  background: linear-gradient(
    90deg,
    rgba(254, 55, 37, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

input {
  @apply py-2 my-2 w-full bg-slate-50 text-gray-900 px-2 shadow-sm box-border;
}

.field {
  @apply border-2 focus:border-purple-600  focus:outline-none focus:border-2 focus:ring-violet-300 rounded-xl;
}

.mask {
  -webkit-mask-image: url("/assets/homie-filled.svg");
  mask-image: url("/assets/homie-filled.svg");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: -500;
}

.btn {
  @apply bg-purple-800 text-white text-sm p-4 m-2 rounded-xl shadow-lg;
}

.chkbox {
  @apply text-purple-700 checked:outline-purple-700 focus:outline-purple-700 rounded-sm;
}

.centerBar {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  /* transform: translate(-50%, -50%); */
}

.progress {
  position: relative;
  margin: 4px;
  float: left;
  text-align: center;
}
.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 45px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid #eee; /* half gray, */
  border-bottom-color: #0bf; /* half azure */
  border-right-color: #0bf;
}

.bg-purple {
  @apply bg-purple-500 text-slate-100;
}
.bg-blue {
  @apply bg-blue-500 text-slate-100;
}
.bg-green {
  @apply bg-green-500 text-slate-100;
}
.bg-red {
  @apply bg-red-500 text-slate-100;
}

.darkTheme {
  @apply bg-slate-900 text-slate-100;
}

.text-light {
  @apply text-slate-100;
}
.text-dark {
  @apply text-slate-900;
}

.slideIn {
  transform: translateX(100%);
}
